.ql-toolbar {
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .ql-toolbar .ql-formats {
    margin-right: 20px;
  }
  
  .ql-toolbar button {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .ql-editor {
    min-height: 200px;
    font-size: 16px;
    line-height: 1.5;
  }
  